<div class="card-body">
    <form class="forms-sample" action="/admin/updatepass" method="post">
      <div class="form-group">
        <label for="exampleInputUsername1">ID</label>
        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username"
         name="id"
         value= "<%= Account.id %>"
         >
      </div>
    
      <div class="form-group">
        <label for="exampleInputPassword1">Old Password</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" 
        name="oldpassword"
        value= "<%= Account.password %>"
        readonly
        style =" background-color: #2A3038;"
        >
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
        name="newpassword"        
        >
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
        name="confirmpassword"
        >
      </div>
    
      <button type="submit" class="btn btn-primary mr-2">Submit</button>
    </form>
  </div>